@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,700&family=Kanit:wght@500&display=swap");
@layer base {
  a {
    @apply p-1;
  }
}
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap");

body {
    font-family: 'Chakra Petch', sans-serif;
}


body {
  background-color: #100f12;
}
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700;800&display=swap');
@layer base {
  h1, h2, h3 {
    
    font-family: 'Chakra Petch', sans-serif;
  }
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-attachment: fixed;
  /* background-image: url("/Assets/greenBack.png");  */
 
  
  background-repeat: no-repeat;


  background-position: center;
  background-size: cover;
  overflow-x: hidden; 
  overflow-y: auto;
  scrollbar-width: thin;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  color: white;
  z-index: -1; 


}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}


@media (min-width: 1030px) {
  body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-attachment: fixed;
    background-image: url("/Assets/backgroundImg.png");  */
    background-repeat: no-repeat;
  
  
    background-position: center;
    background-size: cover;
    overflow-x: hidden; 
    overflow-y: auto;
    scrollbar-width: thin;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    color: white;
    z-index: -1; 
  
  }
}
@keyframes gridScroll {
  from { background-position: 0 0; }
  to { background-position: 0 100px; } /* Adjust speed by changing duration/pixels */
}

.scrolling-grid {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 40px 40px;
  animation: gridScroll 10s linear infinite;
}









html {
  scroll-behavior: smooth;
}
.scene {
  position: absolute;
  width: 100%;
  transform: translateY(var(--translateY));
  will-change: transform;
}

@font-face {
  font-family: "Elianto-Regular";
  src: local("Elianto-Regular"), url("/Assets/Fonts/Elianto-Regular.woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Geometos";
  src: local("Geometos"), url("/Assets/Fonts/Geometos.woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Melody";
  src: local("Melody"), url("/Assets/Fonts/Melody.otf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "GoodTiming";
  src: local("GoodTiming"), url("/Assets/Fonts/goodtiming.otf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Robotech";
  src: local("Robotech"), url("/Assets/Fonts/Robotech.ttf");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "arial";
  src: local("arial"), url("/Assets/Fonts/arial.ttf");
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "poppins";
  src: local("poppins"), url("/Assets/Fonts/poppins.woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Arkhip";
  src: local("Arkhip"), url("/Assets/Fonts/Arkhip.woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Quicksand";
  src: local("Quicksand"), url("/Assets/Fonts/Quicksand.woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "ARCADECLASSIC";
  src: local("ARCADECLASSIC"), url("/Assets/Fonts/ARCADECLASSIC.woff2");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Azonix";
  src: local("Azonix"), url("/Assets/Fonts/Azonix.woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Hero-Bold";
  src: local("Hero-Bold"), url("/Assets/Fonts/Hero-Bold.woff2");
  font-display: swap;
}

@font-face {
  font-family: 'batman';
  src: url('/Assets/Fonts/BatmanForever.ttf') format('truetype');
  font-weight: 700; /* Bold weight */
  font-style: normal;
}
@font-face {
  font-family: 'orbitron';
  src: url('/Assets/Fonts/Orbitron-Medium.ttf') format('truetype');
  font-weight:200 ; /* Bold weight */
  font-style: normal;
}
@font-face {
  font-family: 'grace';
  src: url('/Assets/Fonts/Grace.otf') format('opentype');
  font-weight:400 ; /* Bold weight */
  font-style: normal;
}



@font-face {
  font-family: 'Chakra Petch';
  src: 
       url('/Assets/Fonts/ChakraPetch-Regular.ttf') format('truetype');
       font-weight:800 ;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Chakra Petch Bold';
  src: 
       url('/Assets/Fonts/Chakra_Petch/ChakraPetch-Bold.ttf') format('truetype');
  
  font-style: normal;
  font-display: swap;
}
@media (min-width: 768px) {  
  /* WebKit Browsers (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
      width: 12px; /* Wider scrollbar */
  }

  ::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb {
      background: #1aff00;
      border-radius: 6px;
  }

  ::-webkit-scrollbar-thumb:hover {
      background: #555;
  }

  /* Firefox */
  * {
      scrollbar-width: thin;
      scrollbar-color: #373737ac #f8f8f803;
  }
}

/* Smaller screens (Mobile Devices) */
@media (max-width: 767px) {
  /* Hide scrollbar for a cleaner look */
  ::-webkit-scrollbar {
      width: 5px; /* Thin scrollbar */
  }

  ::-webkit-scrollbar-track {
      background: transparent;
  }

  ::-webkit-scrollbar-thumb {
      background: #ccc; /* Lighter color */
      border-radius: 10px;
  }

  /* Firefox */
  * {
      scrollbar-width: none; /* Hides scrollbar */
  }
}

:root {
  --border-radius--menu-wrapper: 16px;
  --border-radius--menu-link: 12px;
}

.menuLink {
  @apply gap-x-2 max-md:gap-x-1 text-white cursor-pointer  flex-none justify-between items-center text-sm max-sm:text-xs font-normal leading-[114.286%] max-sm:leading-none no-underline transition-[background-color] duration-[0.2s] ease-[ease-in-out] flex lg:py-3 py-2 lg:px-4 max-sm:py-2  max-sm:px-3 rounded-[4px] border-solid border-[#999999] hover:border-[#] ;
}

.menuLinkm {
  @apply gap-x-2 max-md:gap-x-1 text-white cursor-pointer flex-none justify-between items-center text-sm max-sm:text-xs font-normal leading-[114.286%] max-sm:leading-none no-underline transition-[background-color] duration-[0.2s] ease-[ease-in-out] flex py-4 max-sm:py-2 px-6 max-sm:px-3 rounded-[8px] border-solid border-[#999999] hover:border-[#] hover:bg-[#36353a];
}
.menuLink.active {
  /* background-color: #414141;  */
  color: #a855f7;
}

.transition-custom {
  transition-property: all;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.animateNav {
  animation-name: slide-in;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes loadingLine {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-loadingLine {
  animation: loadingLine 2.4s ease-in-out infinite;
}

@keyframes slide-in {
  0% {
    transform: translate3d(0px, 3vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    height: 0px;
    opacity: 0;
  }
  30% {
    transform: translate3d(0px, 2vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    height: 100px;
    opacity: 0;
  }
  60% {
    transform: translate3d(0px, 1vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    height: 140px;
    opacity: 0;
  }
  100% {
    transform: translate3d(0px, 0vh, 0px) scale3d(1, 1, 1) rotateX(0deg)
      rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
    height: fit-content;
    opacity: 1;
  }
}
